<h1 align="center"> Welcome {{currentUser.username}}! </h1>
<br>
<div class="container" style="font-size: 120%">
    <p style="font-family: 'Fredoka One'; font-size: 26px;">
        What is SeekIT? It is an application that gathers and stores some information from GitHub.
    </p>
    <p style="font-family: 'Fredoka One'; font-size: 23px;">
        For start using SeekIT you go in tab "Profiles", where the information about all GitHub users from Moldova is stored.
    </p>
    <p style="font-family: 'Fredoka One'; font-size: 23px;">
        Also in top right corner you can:</p>
        <ul>
            <li> <p style="font-family: 'Fredoka One'; font-size: 23px;">Make the application look for GitHub users with your filters</p></li>
            <li> <p style="font-family: 'Fredoka One'; font-size: 23px;">Edit your profile settings</p></li>
            <li> <p style="font-family: 'Fredoka One'; font-size: 23px;">Log Out</p></li>
        </ul>
</div>
